doctype html
html
	head
		title NSS Cloud
	body
		h1 NSS Cloud
		h2 Create Guest
		form(method='POST' action='/create')
			input(type='email' placeholder='Email' name='email')
			input(type='submit' value='Submit')
