doctype html
html
	head
		title NSS Cloud
	body
		h1 NSS Cloud
		h2 Create Image
		form(method='POST' action='/images/create')
			input(type='text' placeholder='Image Name' name='name')
			input(type='email' placeholder='Email' name='email')
			input(type='submit' value='Submit')
